.about-container .first-section{
  display: flex;
  padding: 100px;
  padding-top: 10px;
  align-items: center;
  line-height: 1.6rem;
}

.about-container .first-section > ul{
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  padding: 0;
}

.about-container .first-section .image-container{
  flex: 1 1 50%;
}

.about-container .first-section .image-container img{
  width: 100%;
}

.first-section svg{
  transform: scale(1.4);
  margin-left: 3px;
}