.particles-container {
  box-shadow: 0px 0px #fff, 1010px 1702px #fff, 1797px 409px #fff,
    601px 1651px #fff, 2246px 1713px #fff, 1212px 1665px #fff, 1432px 802px #fff,
    1060px 1953px #fff, 2415px 1768px #fff, 336px 2120px #fff,
    1212px 1007px #fff, 817px 853px #fff, 799px 1326px #fff, 1199px 1249px #fff,
    307px 552px #fff, 2288px 217px #fff, 1142px 2195px #fff, 2055px 1456px #fff,
    1668px 1698px #fff, 1325px 2103px #fff, 1362px 634px #fff, 178px 286px #fff,
    144px 2335px #fff, 1777px 267px #fff, 1371px 279px #fff, 1010px 1973px #fff,
    197px 2135px #fff, 1988px 845px #fff, 535px 139px #fff, 1705px 1473px #fff,
    626px 1962px #fff, 208px 2307px #fff, 1235px 1242px #fff, 2145px 298px #fff,
    2270px 1417px #fff, 727px 1796px #fff, 1077px 931px #fff, 255px 2494px #fff,
    390px 1215px #fff, 1425px 1255px #fff, 506px 89px #fff, 1804px 1896px #fff,
    844px 1927px #fff, 377px 1008px #fff, 25px 2005px #fff, 1634px 489px #fff,
    2354px 2376px #fff, 815px 1035px #fff, 1603px 1134px #fff, 328px 2355px #fff,
    348px 89px #fff, 242px 785px #fff, 2095px 220px #fff, 810px 1268px #fff,
    2098px 1401px #fff, 1651px 884px #fff, 2114px 1660px #fff,
    2558px 1020px #fff, 1523px 340px #fff, 2389px 1576px #fff,
    2195px 1577px #fff, 699px 1845px #fff, 900px 1907px #fff, 1824px 288px #fff,
    1879px 1447px #fff, 534px 2380px #fff, 713px 2139px #fff, 268px 623px #fff,
    622px 645px #fff, 1679px 1119px #fff, 1154px 2519px #fff, 901px 1103px #fff,
    686px 1221px #fff, 1733px 2231px #fff, 1269px 2176px #fff,
    1997px 1924px #fff, 923px 1478px #fff, 1856px 1866px #fff,
    1485px 1245px #fff, 985px 15px #fff, 2447px 81px #fff, 432px 266px #fff,
    47px 2039px #fff, 2455px 277px #fff, 2356px 294px #fff, 1145px 1117px #fff,
    503px 240px #fff, 2505px 2095px #fff, 1682px 567px #fff, 64px 2079px #fff,
    1588px 2215px #fff, 945px 2443px #fff, 2467px 1892px #fff, 998px 2477px #fff,
    1041px 2376px #fff, 327px 392px #fff, 1835px 1239px #fff, 2445px 1164px #fff,
    849px 2281px #fff, 2441px 1833px #fff, 297px 2377px #fff, 56px 634px #fff,
    427px 141px #fff, 1446px 512px #fff, 729px 1969px #fff, 1397px 2472px #fff,
    2420px 1599px #fff, 2076px 928px #fff, 2022px 1998px #fff,
    1750px 1181px #fff, 2510px 2275px #fff, 2261px 1504px #fff,
    1367px 2538px #fff, 1355px 2008px #fff, 161px 18px #fff, 587px 1303px #fff,
    1855px 1304px #fff, 2288px 2075px #fff, 538px 1210px #fff, 2176px 589px #fff,
    3px 1301px #fff, 1764px 579px #fff, 1953px 554px #fff, 380px 455px #fff,
    2491px 1177px #fff, 359px 2538px #fff, 1892px 1206px #fff, 358px 2454px #fff,
    1761px 2488px #fff, 1353px 2132px #fff, 626px 969px #fff, 2469px 21px #fff,
    2485px 783px #fff, 1469px 1646px #fff, 1056px 2279px #fff,
    1922px 1941px #fff, 1503px 1509px #fff, 2388px 1076px #fff,
    586px 1217px #fff, 283px 1486px #fff, 2278px 2229px #fff, 104px 1248px #fff,
    1877px 209px #fff, 528px 2353px #fff, 1577px 818px #fff, 874px 2227px #fff,
    1652px 1017px #fff, 1630px 1029px #fff, 535px 786px #fff, 1371px 2109px #fff,
    723px 330px #fff, 2236px 1957px #fff, 2238px 1959px #fff, 279px 1538px #fff,
    1761px 1858px #fff, 900px 171px #fff, 526px 107px #fff, 360px 80px #fff,
    2375px 1702px #fff, 2011px 1060px #fff, 914px 2105px #fff,
    1025px 1305px #fff, 763px 1425px #fff, 2208px 877px #fff, 532px 2388px #fff,
    366px 2216px #fff, 2452px 514px #fff, 2052px 1994px #fff, 2530px 2371px #fff,
    1836px 1995px #fff, 1775px 534px #fff, 897px 424px #fff, 1705px 1613px #fff,
    2056px 371px #fff, 2307px 1294px #fff, 1907px 1808px #fff,
    1333px 2395px #fff, 2492px 1140px #fff, 177px 1182px #fff,
    1310px 1763px #fff, 1753px 42px #fff, 1832px 2320px #fff, 2470px 2263px #fff,
    1072px 781px #fff, 552px 1630px #fff, 2492px 1229px #fff, 1829px 2513px #fff,
    763px 1189px #fff, 1750px 1681px #fff, 1826px 1384px #fff,
    2322px 1358px #fff, 1990px 473px #fff, 122px 1064px #fff, 2072px 843px #fff,
    867px 1293px #fff, 1471px 1703px #fff, 2235px 408px #fff, 2545px 1607px #fff,
    46px 609px #fff, 938px 81px #fff, 1812px 1614px #fff, 25px 1096px #fff,
    1985px 39px #fff, 1309px 115px #fff, 2537px 47px #fff, 1740px 646px #fff,
    631px 1776px #fff, 212px 2024px #fff, 758px 709px #fff, 579px 2498px #fff,
    2288px 587px #fff, 1214px 2160px #fff, 474px 2095px #fff, 823px 1338px #fff,
    780px 2220px #fff, 1045px 2059px #fff, 2220px 764px #fff, 1212px 532px #fff,
    168px 855px #fff, 1178px 1625px #fff, 800px 1053px #fff, 473px 2101px #fff,
    1723px 2235px #fff, 782px 1685px #fff, 1204px 2540px #fff,
    2498px 1800px #fff, 2132px 2438px #fff, 211px 256px #fff, 189px 2042px #fff,
    2225px 1501px #fff, 1468px 1363px #fff, 475px 908px #fff, 2383px 383px #fff,
    1939px 837px #fff, 1137px 41px #fff, 14px 823px #fff, 123px 2021px #fff,
    904px 1902px #fff, 2458px 2440px #fff, 1500px 627px #fff, 1238px 2412px #fff,
    548px 2150px #fff, 792px 741px #fff, 349px 1542px #fff, 515px 964px #fff,
    746px 1915px #fff, 1720px 182px #fff, 1474px 706px #fff, 106px 160px #fff,
    1733px 466px #fff, 2427px 1921px #fff, 1176px 1373px #fff,
    1664px 1032px #fff, 2396px 532px #fff, 1572px 1273px #fff, 1710px 913px #fff,
    2404px 980px #fff, 1401px 1187px #fff, 2146px 2264px #fff,
    1385px 2203px #fff, 11px 1292px #fff, 1045px 634px #fff, 1751px 441px #fff,
    920px 1344px #fff, 133px 2438px #fff, 2165px 1209px #fff, 378px 2118px #fff,
    1308px 1299px #fff, 1317px 1154px #fff, 747px 1780px #fff,
    1393px 1078px #fff, 1711px 1230px #fff, 64px 1468px #fff, 932px 698px #fff,
    826px 385px #fff, 883px 1077px #fff, 1204px 681px #fff, 2161px 869px #fff,
    26px 893px #fff, 2415px 65px #fff, 2529px 2548px #fff, 276px 1943px #fff,
    1282px 1523px #fff, 1665px 2214px #fff, 280px 761px #fff, 832px 777px #fff,
    1134px 1550px #fff, 1875px 53px #fff, 717px 189px #fff, 1024px 1662px #fff,
    507px 2086px #fff, 1043px 898px #fff, 2508px 854px #fff, 996px 200px #fff,
    536px 1967px #fff, 1273px 2431px #fff, 2018px 2010px #fff, 441px 629px #fff,
    565px 1881px #fff, 1861px 514px #fff, 532px 1746px #fff, 2101px 1909px #fff,
    1957px 1295px #fff, 1276px 1675px #fff, 624px 618px #fff, 339px 1467px #fff,
    2320px 1353px #fff, 2012px 2376px #fff, 1493px 2276px #fff,
    2328px 2029px #fff, 217px 2247px #fff, 897px 1083px #fff, 664px 761px #fff,
    476px 347px #fff, 2418px 224px #fff, 1179px 2474px #fff, 129px 5px #fff,
    672px 831px #fff, 2178px 324px #fff, 1599px 204px #fff, 12px 2081px #fff,
    1024px 2167px #fff, 1689px 2404px #fff, 839px 664px #fff, 1134px 1215px #fff,
    755px 1030px #fff, 653px 904px #fff, 1683px 79px #fff, 1284px 2261px #fff,
    1300px 2506px #fff, 680px 954px #fff, 1225px 2420px #fff, 1071px 1484px #fff,
    1084px 175px #fff, 1357px 1984px #fff, 1075px 646px #fff, 1934px 1240px #fff,
    1119px 2213px #fff, 1155px 932px #fff, 220px 244px #fff, 2510px 788px #fff,
    2210px 950px #fff, 2339px 398px #fff, 190px 38px #fff, 1724px 1360px #fff,
    1772px 2526px #fff, 1448px 192px #fff, 2438px 1168px #fff, 814px 785px #fff,
    663px 1746px #fff, 2098px 1636px #fff, 791px 1744px #fff, 1483px 2113px #fff,
    152px 920px #fff, 1315px 1647px #fff, 1834px 2093px #fff, 90px 55px #fff,
    2384px 864px #fff, 1520px 1445px #fff, 45px 334px #fff, 1493px 947px #fff,
    1521px 1614px #fff, 2296px 2136px #fff, 1393px 2045px #fff,
    2054px 2549px #fff, 2356px 2552px #fff, 1235px 2440px #fff,
    476px 1736px #fff, 1819px 1844px #fff, 1706px 642px #fff, 1496px 1602px #fff,
    2101px 247px #fff, 429px 1544px #fff, 1876px 2445px #fff, 2526px 51px #fff,
    1441px 221px #fff, 2433px 2196px #fff, 1325px 557px #fff, 1608px 808px #fff,
    182px 1953px #fff, 1328px 1312px #fff, 640px 875px #fff, 1308px 500px #fff,
    34px 1865px #fff, 1402px 1507px #fff, 16px 1376px #fff, 2179px 1297px #fff,
    1901px 2307px #fff, 104px 740px #fff, 1040px 2264px #fff, 505px 1191px #fff,
    701px 1190px #fff, 973px 410px #fff, 726px 1477px #fff, 2312px 39px #fff,
    220px 1334px #fff, 2420px 2404px #fff, 367px 876px #fff, 2553px 717px #fff,
    968px 1783px #fff, 865px 2158px #fff, 624px 2509px #fff, 1081px 2450px #fff,
    260px 1687px #fff, 909px 14px #fff, 1110px 636px #fff, 2272px 1746px #fff,
    835px 2056px #fff, 235px 1311px #fff, 2145px 1173px #fff, 1243px 772px #fff,
    1762px 1657px #fff, 211px 1619px #fff, 1085px 288px #fff, 1067px 1113px #fff,
    1432px 1421px #fff, 1559px 69px #fff, 1793px 2147px #fff, 672px 495px #fff,
    2070px 1321px #fff, 1376px 509px #fff, 449px 1014px #fff, 2344px 1667px #fff,
    188px 999px #fff, 1280px 99px #fff, 2396px 1337px #fff, 758px 720px #fff,
    1320px 1339px #fff, 1182px 1730px #fff, 161px 1260px #fff,
    1428px 1493px #fff, 1390px 804px #fff, 736px 1230px #fff, 1302px 400px #fff,
    1033px 2445px #fff, 409px 1067px #fff, 2485px 2188px #fff,
    2291px 2488px #fff, 2445px 1073px #fff, 1631px 617px #fff,
    2544px 1766px #fff, 859px 1001px #fff, 1620px 1076px #fff, 1999px 619px #fff,
    1661px 291px #fff, 803px 89px #fff, 159px 2198px #fff, 2008px 742px #fff,
    284px 1000px #fff, 1091px 1385px #fff, 1781px 2237px #fff, 2172px 579px #fff,
    1784px 625px #fff, 1669px 1321px #fff, 60px 1152px #fff, 751px 1665px #fff,
    818px 1862px #fff, 330px 465px #fff, 2380px 2225px #fff, 2078px 457px #fff,
    999px 1257px #fff, 1356px 574px #fff, 1401px 2554px #fff, 2019px 2180px #fff,
    206px 2520px #fff, 431px 1913px #fff, 1216px 1008px #fff, 2204px 1056px #fff,
    1108px 266px #fff, 1558px 1523px #fff, 1185px 1490px #fff, 932px 1047px #fff,
    682px 1491px #fff, 2322px 1428px #fff, 1237px 1658px #fff,
    1415px 1620px #fff, 705px 236px #fff, 199px 2353px #fff, 1971px 1464px #fff,
    2044px 1731px #fff, 213px 1971px #fff, 2017px 241px #fff, 1811px 383px #fff,
    565px 341px #fff, 1560px 868px #fff, 1501px 229px #fff, 364px 176px #fff,
    1538px 326px #fff, 1209px 1656px #fff, 1302px 1568px #fff,
    1085px 1163px #fff, 357px 1631px #fff, 489px 2327px #fff, 164px 952px #fff,
    895px 2362px #fff, 1488px 1735px #fff, 1430px 1354px #fff, 2115px 316px #fff,
    2389px 2488px #fff, 3px 1945px #fff, 1703px 2309px #fff, 1276px 2113px #fff,
    950px 1432px #fff, 222px 1609px #fff, 1447px 203px #fff, 273px 1971px #fff,
    957px 1684px #fff, 1425px 517px #fff, 1430px 521px #fff, 1191px 1577px #fff,
    706px 2145px #fff, 1136px 1870px #fff, 891px 692px #fff, 2063px 317px #fff,
    1934px 231px #fff, 1px 681px #fff, 389px 2040px #fff, 2076px 925px #fff,
    1364px 2129px #fff, 24px 132px #fff, 260px 1368px #fff, 928px 1794px #fff,
    457px 596px #fff, 1454px 157px #fff, 320px 2238px #fff, 702px 1330px #fff,
    82px 1221px #fff, 1795px 2211px #fff, 2390px 76px #fff, 2265px 499px #fff,
    42px 620px #fff, 1992px 1549px #fff, 2272px 1646px #fff, 381px 2124px #fff,
    372px 2092px #fff, 647px 1507px #fff, 1235px 43px #fff, 907px 1712px #fff,
    104px 2270px #fff, 1289px 2396px #fff, 362px 1737px #fff, 2281px 2499px #fff,
    295px 2332px #fff, 2272px 350px #fff, 2189px 2394px #fff, 646px 1056px #fff,
    723px 1732px #fff, 469px 686px #fff, 652px 2208px #fff, 223px 2155px #fff,
    1079px 2133px #fff, 1139px 138px #fff, 758px 2429px #fff, 248px 408px #fff,
    1362px 2113px #fff, 108px 948px #fff, 1109px 1718px #fff, 169px 1065px #fff,
    588px 2112px #fff, 1172px 939px #fff, 1948px 329px #fff, 443px 1201px #fff,
    1848px 1786px #fff, 1878px 17px #fff, 2254px 659px #fff, 2489px 1461px #fff,
    1341px 2196px #fff, 1155px 904px #fff, 334px 1258px #fff, 796px 1077px #fff,
    1509px 367px #fff, 197px 1789px #fff, 329px 856px #fff, 1886px 2426px #fff,
    2460px 2233px #fff, 2541px 362px #fff, 1933px 1614px #fff, 723px 1271px #fff,
    2052px 994px #fff, 1853px 1492px #fff, 485px 1995px #fff, 488px 565px #fff,
    1868px 1602px #fff, 265px 1679px #fff, 1688px 30px #fff, 2526px 2487px #fff,
    1326px 870px #fff, 1657px 1162px #fff, 1543px 655px #fff, 2248px 238px #fff,
    844px 1489px #fff, 1018px 281px #fff, 413px 867px #fff, 897px 386px #fff,
    1725px 1281px #fff, 1472px 1427px #fff, 1842px 491px #fff,
    1371px 2552px #fff, 1267px 2187px #fff, 1100px 1360px #fff,
    1134px 2139px #fff;
  position: fixed;
  display: block;
  width: 3px;
  height: 3px;
  background-color: transparent;
  z-index: 100;
  border-radius: 50%;
  animation: animParticle 60s linear infinite;
}

.faster{
  animation: animParticle 40s linear infinite;
}

.particles-container-2 {
  box-shadow: 0px 0px #fff, 1010px 1702px #fff, 1797px 409px #fff,
    601px 1651px #fff, 2246px 1713px #fff, 1212px 1665px #fff, 1432px 802px #fff,
    1060px 1953px #fff, 2415px 1768px #fff, 336px 2120px #fff,
    1212px 1007px #fff, 817px 853px #fff, 799px 1326px #fff, 1199px 1249px #fff,
    307px 552px #fff, 2288px 217px #fff, 1142px 2195px #fff, 2055px 1456px #fff,
    1668px 1698px #fff, 1325px 2103px #fff, 1362px 634px #fff, 178px 286px #fff,
    144px 2335px #fff, 1777px 267px #fff, 1371px 279px #fff, 1010px 1973px #fff,
    197px 2135px #fff, 1988px 845px #fff, 535px 139px #fff, 1705px 1473px #fff,
    626px 1962px #fff, 208px 2307px #fff, 1235px 1242px #fff, 2145px 298px #fff,
    2270px 1417px #fff, 727px 1796px #fff, 1077px 931px #fff, 255px 2494px #fff,
    390px 1215px #fff, 1425px 1255px #fff, 506px 89px #fff, 1804px 1896px #fff,
    844px 1927px #fff, 377px 1008px #fff, 25px 2005px #fff, 1634px 489px #fff,
    2354px 2376px #fff, 815px 1035px #fff, 1603px 1134px #fff, 328px 2355px #fff,
    348px 89px #fff, 242px 785px #fff, 2095px 220px #fff, 810px 1268px #fff,
    2098px 1401px #fff, 1651px 884px #fff, 2114px 1660px #fff,
    2558px 1020px #fff, 1523px 340px #fff, 2389px 1576px #fff,
    2195px 1577px #fff, 699px 1845px #fff, 900px 1907px #fff, 1824px 288px #fff,
    1879px 1447px #fff, 534px 2380px #fff, 713px 2139px #fff, 268px 623px #fff,
    622px 645px #fff, 1679px 1119px #fff, 1154px 2519px #fff, 901px 1103px #fff,
    686px 1221px #fff, 1733px 2231px #fff, 1269px 2176px #fff,
    1997px 1924px #fff, 923px 1478px #fff, 1856px 1866px #fff,
    1485px 1245px #fff, 985px 15px #fff, 2447px 81px #fff, 432px 266px #fff,
    47px 2039px #fff, 2455px 277px #fff, 2356px 294px #fff, 1145px 1117px #fff,
    503px 240px #fff, 2505px 2095px #fff, 1682px 567px #fff, 64px 2079px #fff,
    1588px 2215px #fff, 945px 2443px #fff, 2467px 1892px #fff, 998px 2477px #fff,
    1041px 2376px #fff, 327px 392px #fff, 1835px 1239px #fff, 2445px 1164px #fff,
    849px 2281px #fff, 2441px 1833px #fff, 297px 2377px #fff, 56px 634px #fff,
    427px 141px #fff, 1446px 512px #fff, 729px 1969px #fff, 1397px 2472px #fff,
    2420px 1599px #fff, 2076px 928px #fff, 2022px 1998px #fff,
    1750px 1181px #fff, 2510px 2275px #fff, 2261px 1504px #fff,
    1367px 2538px #fff, 1355px 2008px #fff, 161px 18px #fff, 587px 1303px #fff,
    1855px 1304px #fff, 2288px 2075px #fff, 538px 1210px #fff, 2176px 589px #fff,
    3px 1301px #fff, 1764px 579px #fff, 1953px 554px #fff, 380px 455px #fff,
    2491px 1177px #fff, 359px 2538px #fff, 1892px 1206px #fff, 358px 2454px #fff,
    1761px 2488px #fff, 1353px 2132px #fff, 626px 969px #fff, 2469px 21px #fff,
    2485px 783px #fff, 1469px 1646px #fff, 1056px 2279px #fff,
    1922px 1941px #fff, 1503px 1509px #fff, 2388px 1076px #fff,
    586px 1217px #fff, 283px 1486px #fff, 2278px 2229px #fff, 104px 1248px #fff,
    1877px 209px #fff, 528px 2353px #fff, 1577px 818px #fff, 874px 2227px #fff,
    1652px 1017px #fff, 1630px 1029px #fff, 535px 786px #fff, 1371px 2109px #fff,
    723px 330px #fff, 2236px 1957px #fff, 2238px 1959px #fff, 279px 1538px #fff,
    1761px 1858px #fff, 900px 171px #fff, 526px 107px #fff, 360px 80px #fff,
    2375px 1702px #fff, 2011px 1060px #fff, 914px 2105px #fff,
    1025px 1305px #fff, 763px 1425px #fff, 2208px 877px #fff, 532px 2388px #fff,
    366px 2216px #fff, 2452px 514px #fff, 2052px 1994px #fff, 2530px 2371px #fff,
    1836px 1995px #fff, 1775px 534px #fff, 897px 424px #fff, 1705px 1613px #fff,
    2056px 371px #fff, 2307px 1294px #fff, 1907px 1808px #fff,
    1333px 2395px #fff, 2492px 1140px #fff, 177px 1182px #fff,
    1310px 1763px #fff, 1753px 42px #fff, 1832px 2320px #fff, 2470px 2263px #fff,
    1072px 781px #fff, 552px 1630px #fff, 2492px 1229px #fff, 1829px 2513px #fff,
    763px 1189px #fff, 1750px 1681px #fff, 1826px 1384px #fff,
    2322px 1358px #fff, 1990px 473px #fff, 122px 1064px #fff, 2072px 843px #fff,
    867px 1293px #fff, 1471px 1703px #fff, 2235px 408px #fff, 2545px 1607px #fff,
    46px 609px #fff, 938px 81px #fff, 1812px 1614px #fff, 25px 1096px #fff,
    1985px 39px #fff, 1309px 115px #fff, 2537px 47px #fff, 1740px 646px #fff,
    631px 1776px #fff, 212px 2024px #fff, 758px 709px #fff, 579px 2498px #fff,
    2288px 587px #fff, 1214px 2160px #fff, 474px 2095px #fff, 823px 1338px #fff,
    780px 2220px #fff, 1045px 2059px #fff, 2220px 764px #fff, 1212px 532px #fff,
    168px 855px #fff, 1178px 1625px #fff, 800px 1053px #fff, 473px 2101px #fff,
    1723px 2235px #fff, 782px 1685px #fff, 1204px 2540px #fff,
    2498px 1800px #fff, 2132px 2438px #fff, 211px 256px #fff, 189px 2042px #fff,
    2225px 1501px #fff, 1468px 1363px #fff, 475px 908px #fff, 2383px 383px #fff,
    1939px 837px #fff, 1137px 41px #fff, 14px 823px #fff, 123px 2021px #fff,
    904px 1902px #fff, 2458px 2440px #fff, 1500px 627px #fff, 1238px 2412px #fff,
    548px 2150px #fff, 792px 741px #fff, 349px 1542px #fff, 515px 964px #fff,
    746px 1915px #fff, 1720px 182px #fff, 1474px 706px #fff, 106px 160px #fff,
    1733px 466px #fff, 2427px 1921px #fff, 1176px 1373px #fff,
    1664px 1032px #fff, 2396px 532px #fff, 1572px 1273px #fff, 1710px 913px #fff,
    2404px 980px #fff, 1401px 1187px #fff, 2146px 2264px #fff,
    1385px 2203px #fff, 11px 1292px #fff, 1045px 634px #fff, 1751px 441px #fff,
    920px 1344px #fff, 133px 2438px #fff, 2165px 1209px #fff, 378px 2118px #fff,
    1308px 1299px #fff, 1317px 1154px #fff, 747px 1780px #fff,
    1393px 1078px #fff, 1711px 1230px #fff, 64px 1468px #fff, 932px 698px #fff,
    826px 385px #fff, 883px 1077px #fff, 1204px 681px #fff, 2161px 869px #fff,
    26px 893px #fff, 2415px 65px #fff, 2529px 2548px #fff, 276px 1943px #fff,
    1282px 1523px #fff, 1665px 2214px #fff, 280px 761px #fff, 832px 777px #fff,
    1134px 1550px #fff, 1875px 53px #fff, 717px 189px #fff, 1024px 1662px #fff,
    507px 2086px #fff, 1043px 898px #fff, 2508px 854px #fff, 996px 200px #fff,
    536px 1967px #fff, 1273px 2431px #fff, 2018px 2010px #fff, 441px 629px #fff,
    565px 1881px #fff, 1861px 514px #fff, 532px 1746px #fff, 2101px 1909px #fff,
    1957px 1295px #fff, 1276px 1675px #fff, 624px 618px #fff, 339px 1467px #fff,
    2320px 1353px #fff, 2012px 2376px #fff, 1493px 2276px #fff,
    2328px 2029px #fff, 217px 2247px #fff, 897px 1083px #fff, 664px 761px #fff,
    476px 347px #fff, 2418px 224px #fff, 1179px 2474px #fff, 129px 5px #fff,
    672px 831px #fff, 2178px 324px #fff, 1599px 204px #fff, 12px 2081px #fff,
    1024px 2167px #fff, 1689px 2404px #fff, 839px 664px #fff, 1134px 1215px #fff,
    755px 1030px #fff, 653px 904px #fff, 1683px 79px #fff, 1284px 2261px #fff,
    1300px 2506px #fff, 680px 954px #fff, 1225px 2420px #fff, 1071px 1484px #fff,
    1084px 175px #fff, 1357px 1984px #fff, 1075px 646px #fff, 1934px 1240px #fff,
    1119px 2213px #fff, 1155px 932px #fff, 220px 244px #fff, 2510px 788px #fff,
    2210px 950px #fff, 2339px 398px #fff, 190px 38px #fff, 1724px 1360px #fff,
    1772px 2526px #fff, 1448px 192px #fff, 2438px 1168px #fff, 814px 785px #fff,
    663px 1746px #fff, 2098px 1636px #fff, 791px 1744px #fff, 1483px 2113px #fff,
    152px 920px #fff, 1315px 1647px #fff, 1834px 2093px #fff, 90px 55px #fff,
    2384px 864px #fff, 1520px 1445px #fff, 45px 334px #fff, 1493px 947px #fff,
    1521px 1614px #fff, 2296px 2136px #fff, 1393px 2045px #fff,
    2054px 2549px #fff, 2356px 2552px #fff, 1235px 2440px #fff,
    476px 1736px #fff, 1819px 1844px #fff, 1706px 642px #fff, 1496px 1602px #fff,
    2101px 247px #fff, 429px 1544px #fff, 1876px 2445px #fff, 2526px 51px #fff,
    1441px 221px #fff, 2433px 2196px #fff, 1325px 557px #fff, 1608px 808px #fff,
    182px 1953px #fff, 1328px 1312px #fff, 640px 875px #fff, 1308px 500px #fff,
    34px 1865px #fff, 1402px 1507px #fff, 16px 1376px #fff, 2179px 1297px #fff,
    1901px 2307px #fff, 104px 740px #fff, 1040px 2264px #fff, 505px 1191px #fff,
    701px 1190px #fff, 973px 410px #fff, 726px 1477px #fff, 2312px 39px #fff,
    220px 1334px #fff, 2420px 2404px #fff, 367px 876px #fff, 2553px 717px #fff,
    968px 1783px #fff, 865px 2158px #fff, 624px 2509px #fff, 1081px 2450px #fff,
    260px 1687px #fff, 909px 14px #fff, 1110px 636px #fff, 2272px 1746px #fff,
    835px 2056px #fff, 235px 1311px #fff, 2145px 1173px #fff, 1243px 772px #fff,
    1762px 1657px #fff, 211px 1619px #fff, 1085px 288px #fff, 1067px 1113px #fff,
    1432px 1421px #fff, 1559px 69px #fff, 1793px 2147px #fff, 672px 495px #fff,
    2070px 1321px #fff, 1376px 509px #fff, 449px 1014px #fff, 2344px 1667px #fff,
    188px 999px #fff, 1280px 99px #fff, 2396px 1337px #fff, 758px 720px #fff,
    1320px 1339px #fff, 1182px 1730px #fff, 161px 1260px #fff,
    1428px 1493px #fff, 1390px 804px #fff, 736px 1230px #fff, 1302px 400px #fff,
    1033px 2445px #fff, 409px 1067px #fff, 2485px 2188px #fff,
    2291px 2488px #fff, 2445px 1073px #fff, 1631px 617px #fff,
    2544px 1766px #fff, 859px 1001px #fff, 1620px 1076px #fff, 1999px 619px #fff,
    1661px 291px #fff, 803px 89px #fff, 159px 2198px #fff, 2008px 742px #fff,
    284px 1000px #fff, 1091px 1385px #fff, 1781px 2237px #fff, 2172px 579px #fff,
    1784px 625px #fff, 1669px 1321px #fff, 60px 1152px #fff, 751px 1665px #fff,
    818px 1862px #fff, 330px 465px #fff, 2380px 2225px #fff, 2078px 457px #fff,
    999px 1257px #fff, 1356px 574px #fff, 1401px 2554px #fff, 2019px 2180px #fff,
    206px 2520px #fff, 431px 1913px #fff, 1216px 1008px #fff, 2204px 1056px #fff,
    1108px 266px #fff, 1558px 1523px #fff, 1185px 1490px #fff, 932px 1047px #fff,
    682px 1491px #fff, 2322px 1428px #fff, 1237px 1658px #fff,
    1415px 1620px #fff, 705px 236px #fff, 199px 2353px #fff, 1971px 1464px #fff,
    2044px 1731px #fff, 213px 1971px #fff, 2017px 241px #fff, 1811px 383px #fff,
    565px 341px #fff, 1560px 868px #fff, 1501px 229px #fff, 364px 176px #fff,
    1538px 326px #fff, 1209px 1656px #fff, 1302px 1568px #fff,
    1085px 1163px #fff, 357px 1631px #fff, 489px 2327px #fff, 164px 952px #fff,
    895px 2362px #fff, 1488px 1735px #fff, 1430px 1354px #fff, 2115px 316px #fff,
    2389px 2488px #fff, 3px 1945px #fff, 1703px 2309px #fff, 1276px 2113px #fff,
    950px 1432px #fff, 222px 1609px #fff, 1447px 203px #fff, 273px 1971px #fff,
    957px 1684px #fff, 1425px 517px #fff, 1430px 521px #fff, 1191px 1577px #fff,
    706px 2145px #fff, 1136px 1870px #fff, 891px 692px #fff, 2063px 317px #fff,
    1934px 231px #fff, 1px 681px #fff, 389px 2040px #fff, 2076px 925px #fff,
    1364px 2129px #fff, 24px 132px #fff, 260px 1368px #fff, 928px 1794px #fff,
    457px 596px #fff, 1454px 157px #fff, 320px 2238px #fff, 702px 1330px #fff,
    82px 1221px #fff, 1795px 2211px #fff, 2390px 76px #fff, 2265px 499px #fff,
    42px 620px #fff, 1992px 1549px #fff, 2272px 1646px #fff, 381px 2124px #fff,
    372px 2092px #fff, 647px 1507px #fff, 1235px 43px #fff, 907px 1712px #fff,
    104px 2270px #fff, 1289px 2396px #fff, 362px 1737px #fff, 2281px 2499px #fff,
    295px 2332px #fff, 2272px 350px #fff, 2189px 2394px #fff, 646px 1056px #fff,
    723px 1732px #fff, 469px 686px #fff, 652px 2208px #fff, 223px 2155px #fff,
    1079px 2133px #fff, 1139px 138px #fff, 758px 2429px #fff, 248px 408px #fff,
    1362px 2113px #fff, 108px 948px #fff, 1109px 1718px #fff, 169px 1065px #fff,
    588px 2112px #fff, 1172px 939px #fff, 1948px 329px #fff, 443px 1201px #fff,
    1848px 1786px #fff, 1878px 17px #fff, 2254px 659px #fff, 2489px 1461px #fff,
    1341px 2196px #fff, 1155px 904px #fff, 334px 1258px #fff, 796px 1077px #fff,
    1509px 367px #fff, 197px 1789px #fff, 329px 856px #fff, 1886px 2426px #fff,
    2460px 2233px #fff, 2541px 362px #fff, 1933px 1614px #fff, 723px 1271px #fff,
    2052px 994px #fff, 1853px 1492px #fff, 485px 1995px #fff, 488px 565px #fff,
    1868px 1602px #fff, 265px 1679px #fff, 1688px 30px #fff, 2526px 2487px #fff,
    1326px 870px #fff, 1657px 1162px #fff, 1543px 655px #fff, 2248px 238px #fff,
    844px 1489px #fff, 1018px 281px #fff, 413px 867px #fff, 897px 386px #fff,
    1725px 1281px #fff, 1472px 1427px #fff, 1842px 491px #fff,
    1371px 2552px #fff, 1267px 2187px #fff, 1100px 1360px #fff,
    1134px 2139px #fff;
  position: fixed;
  display: block;
  width: 1px;
  top: 100px;
  left: 10px;
  height: 1px;
  background-color: transparent;
  z-index: 100;
  border-radius: 50%;
  animation: animParticle 20s linear infinite;
}
.particles-container-3 {
  box-shadow: 0px 0px #fff, 1010px 1702px #fff, 1797px 409px #fff,
    601px 1651px #fff, 2246px 1713px #fff, 1212px 1665px #fff, 1432px 802px #fff,
    1060px 1953px #fff, 2415px 1768px #fff, 336px 2120px #fff,
    1212px 1007px #fff, 817px 853px #fff, 799px 1326px #fff, 1199px 1249px #fff,
    307px 552px #fff, 2288px 217px #fff, 1142px 2195px #fff, 2055px 1456px #fff,
    1668px 1698px #fff, 1325px 2103px #fff, 1362px 634px #fff, 178px 286px #fff,
    144px 2335px #fff, 1777px 267px #fff, 1371px 279px #fff, 1010px 1973px #fff,
    197px 2135px #fff, 1988px 845px #fff, 535px 139px #fff, 1705px 1473px #fff,
    626px 1962px #fff, 208px 2307px #fff, 1235px 1242px #fff, 2145px 298px #fff,
    2270px 1417px #fff, 727px 1796px #fff, 1077px 931px #fff, 255px 2494px #fff,
    390px 1215px #fff, 1425px 1255px #fff, 506px 89px #fff, 1804px 1896px #fff,
    844px 1927px #fff, 377px 1008px #fff, 25px 2005px #fff, 1634px 489px #fff,
    2354px 2376px #fff, 815px 1035px #fff, 1603px 1134px #fff, 328px 2355px #fff,
    348px 89px #fff, 242px 785px #fff, 2095px 220px #fff, 810px 1268px #fff,
    2098px 1401px #fff, 1651px 884px #fff, 2114px 1660px #fff,
    2558px 1020px #fff, 1523px 340px #fff, 2389px 1576px #fff,
    2195px 1577px #fff, 699px 1845px #fff, 900px 1907px #fff, 1824px 288px #fff,
    1879px 1447px #fff, 534px 2380px #fff, 713px 2139px #fff, 268px 623px #fff,
    622px 645px #fff, 1679px 1119px #fff, 1154px 2519px #fff, 901px 1103px #fff,
    686px 1221px #fff, 1733px 2231px #fff, 1269px 2176px #fff,
    1997px 1924px #fff, 923px 1478px #fff, 1856px 1866px #fff,
    1485px 1245px #fff, 985px 15px #fff, 2447px 81px #fff, 432px 266px #fff,
    47px 2039px #fff, 2455px 277px #fff, 2356px 294px #fff, 1145px 1117px #fff,
    503px 240px #fff, 2505px 2095px #fff, 1682px 567px #fff, 64px 2079px #fff,
    1588px 2215px #fff, 945px 2443px #fff, 2467px 1892px #fff, 998px 2477px #fff,
    1041px 2376px #fff, 327px 392px #fff, 1835px 1239px #fff, 2445px 1164px #fff,
    849px 2281px #fff, 2441px 1833px #fff, 297px 2377px #fff, 56px 634px #fff,
    427px 141px #fff, 1446px 512px #fff, 729px 1969px #fff, 1397px 2472px #fff,
    2420px 1599px #fff, 2076px 928px #fff, 2022px 1998px #fff,
    1750px 1181px #fff, 2510px 2275px #fff, 2261px 1504px #fff,
    1367px 2538px #fff, 1355px 2008px #fff, 161px 18px #fff, 587px 1303px #fff,
    1855px 1304px #fff, 2288px 2075px #fff, 538px 1210px #fff, 2176px 589px #fff,
    3px 1301px #fff, 1764px 579px #fff, 1953px 554px #fff, 380px 455px #fff,
    2491px 1177px #fff, 359px 2538px #fff, 1892px 1206px #fff, 358px 2454px #fff,
    1761px 2488px #fff, 1353px 2132px #fff, 626px 969px #fff, 2469px 21px #fff,
    2485px 783px #fff, 1469px 1646px #fff, 1056px 2279px #fff,
    1922px 1941px #fff, 1503px 1509px #fff, 2388px 1076px #fff,
    586px 1217px #fff, 283px 1486px #fff, 2278px 2229px #fff, 104px 1248px #fff,
    1877px 209px #fff, 528px 2353px #fff, 1577px 818px #fff, 874px 2227px #fff,
    1652px 1017px #fff, 1630px 1029px #fff, 535px 786px #fff, 1371px 2109px #fff,
    723px 330px #fff, 2236px 1957px #fff, 2238px 1959px #fff, 279px 1538px #fff,
    1761px 1858px #fff, 900px 171px #fff, 526px 107px #fff, 360px 80px #fff,
    2375px 1702px #fff, 2011px 1060px #fff, 914px 2105px #fff,
    1025px 1305px #fff, 763px 1425px #fff, 2208px 877px #fff, 532px 2388px #fff,
    366px 2216px #fff, 2452px 514px #fff, 2052px 1994px #fff, 2530px 2371px #fff,
    1836px 1995px #fff, 1775px 534px #fff, 897px 424px #fff, 1705px 1613px #fff,
    2056px 371px #fff, 2307px 1294px #fff, 1907px 1808px #fff,
    1333px 2395px #fff, 2492px 1140px #fff, 177px 1182px #fff,
    1310px 1763px #fff, 1753px 42px #fff, 1832px 2320px #fff, 2470px 2263px #fff,
    1072px 781px #fff, 552px 1630px #fff, 2492px 1229px #fff, 1829px 2513px #fff,
    763px 1189px #fff, 1750px 1681px #fff, 1826px 1384px #fff,
    2322px 1358px #fff, 1990px 473px #fff, 122px 1064px #fff, 2072px 843px #fff,
    867px 1293px #fff, 1471px 1703px #fff, 2235px 408px #fff, 2545px 1607px #fff,
    46px 609px #fff, 938px 81px #fff, 1812px 1614px #fff, 25px 1096px #fff,
    1985px 39px #fff, 1309px 115px #fff, 2537px 47px #fff, 1740px 646px #fff,
    631px 1776px #fff, 212px 2024px #fff, 758px 709px #fff, 579px 2498px #fff,
    2288px 587px #fff, 1214px 2160px #fff, 474px 2095px #fff, 823px 1338px #fff,
    780px 2220px #fff, 1045px 2059px #fff, 2220px 764px #fff, 1212px 532px #fff,
    168px 855px #fff, 1178px 1625px #fff, 800px 1053px #fff, 473px 2101px #fff,
    1723px 2235px #fff, 782px 1685px #fff, 1204px 2540px #fff,
    2498px 1800px #fff, 2132px 2438px #fff, 211px 256px #fff, 189px 2042px #fff,
    2225px 1501px #fff, 1468px 1363px #fff, 475px 908px #fff, 2383px 383px #fff,
    1939px 837px #fff, 1137px 41px #fff, 14px 823px #fff, 123px 2021px #fff,
    904px 1902px #fff, 2458px 2440px #fff, 1500px 627px #fff, 1238px 2412px #fff,
    548px 2150px #fff, 792px 741px #fff, 349px 1542px #fff, 515px 964px #fff,
    746px 1915px #fff, 1720px 182px #fff, 1474px 706px #fff, 106px 160px #fff,
    1733px 466px #fff, 2427px 1921px #fff, 1176px 1373px #fff,
    1664px 1032px #fff, 2396px 532px #fff, 1572px 1273px #fff, 1710px 913px #fff,
    2404px 980px #fff, 1401px 1187px #fff, 2146px 2264px #fff,
    1385px 2203px #fff, 11px 1292px #fff, 1045px 634px #fff, 1751px 441px #fff,
    920px 1344px #fff, 133px 2438px #fff, 2165px 1209px #fff, 378px 2118px #fff,
    1308px 1299px #fff, 1317px 1154px #fff, 747px 1780px #fff,
    1393px 1078px #fff, 1711px 1230px #fff, 64px 1468px #fff, 932px 698px #fff,
    826px 385px #fff, 883px 1077px #fff, 1204px 681px #fff, 2161px 869px #fff,
    26px 893px #fff, 2415px 65px #fff, 2529px 2548px #fff, 276px 1943px #fff,
    1282px 1523px #fff, 1665px 2214px #fff, 280px 761px #fff, 832px 777px #fff,
    1134px 1550px #fff, 1875px 53px #fff, 717px 189px #fff, 1024px 1662px #fff,
    507px 2086px #fff, 1043px 898px #fff, 2508px 854px #fff, 996px 200px #fff,
    536px 1967px #fff, 1273px 2431px #fff, 2018px 2010px #fff, 441px 629px #fff,
    565px 1881px #fff, 1861px 514px #fff, 532px 1746px #fff, 2101px 1909px #fff,
    1957px 1295px #fff, 1276px 1675px #fff, 624px 618px #fff, 339px 1467px #fff,
    2320px 1353px #fff, 2012px 2376px #fff, 1493px 2276px #fff,
    2328px 2029px #fff, 217px 2247px #fff, 897px 1083px #fff, 664px 761px #fff,
    476px 347px #fff, 2418px 224px #fff, 1179px 2474px #fff, 129px 5px #fff,
    672px 831px #fff, 2178px 324px #fff, 1599px 204px #fff, 12px 2081px #fff,
    1024px 2167px #fff, 1689px 2404px #fff, 839px 664px #fff, 1134px 1215px #fff,
    755px 1030px #fff, 653px 904px #fff, 1683px 79px #fff, 1284px 2261px #fff,
    1300px 2506px #fff, 680px 954px #fff, 1225px 2420px #fff, 1071px 1484px #fff,
    1084px 175px #fff, 1357px 1984px #fff, 1075px 646px #fff, 1934px 1240px #fff,
    1119px 2213px #fff, 1155px 932px #fff, 220px 244px #fff, 2510px 788px #fff,
    2210px 950px #fff, 2339px 398px #fff, 190px 38px #fff, 1724px 1360px #fff,
    1772px 2526px #fff, 1448px 192px #fff, 2438px 1168px #fff, 814px 785px #fff,
    663px 1746px #fff, 2098px 1636px #fff, 791px 1744px #fff, 1483px 2113px #fff,
    152px 920px #fff, 1315px 1647px #fff, 1834px 2093px #fff, 90px 55px #fff,
    2384px 864px #fff, 1520px 1445px #fff, 45px 334px #fff, 1493px 947px #fff,
    1521px 1614px #fff, 2296px 2136px #fff, 1393px 2045px #fff,
    2054px 2549px #fff, 2356px 2552px #fff, 1235px 2440px #fff,
    476px 1736px #fff, 1819px 1844px #fff, 1706px 642px #fff, 1496px 1602px #fff,
    2101px 247px #fff, 429px 1544px #fff, 1876px 2445px #fff, 2526px 51px #fff,
    1441px 221px #fff, 2433px 2196px #fff, 1325px 557px #fff, 1608px 808px #fff,
    182px 1953px #fff, 1328px 1312px #fff, 640px 875px #fff, 1308px 500px #fff,
    34px 1865px #fff, 1402px 1507px #fff, 16px 1376px #fff, 2179px 1297px #fff,
    1901px 2307px #fff, 104px 740px #fff, 1040px 2264px #fff, 505px 1191px #fff,
    701px 1190px #fff, 973px 410px #fff, 726px 1477px #fff, 2312px 39px #fff,
    220px 1334px #fff, 2420px 2404px #fff, 367px 876px #fff, 2553px 717px #fff,
    968px 1783px #fff, 865px 2158px #fff, 624px 2509px #fff, 1081px 2450px #fff,
    260px 1687px #fff, 909px 14px #fff, 1110px 636px #fff, 2272px 1746px #fff,
    835px 2056px #fff, 235px 1311px #fff, 2145px 1173px #fff, 1243px 772px #fff,
    1762px 1657px #fff, 211px 1619px #fff, 1085px 288px #fff, 1067px 1113px #fff,
    1432px 1421px #fff, 1559px 69px #fff, 1793px 2147px #fff, 672px 495px #fff,
    2070px 1321px #fff, 1376px 509px #fff, 449px 1014px #fff, 2344px 1667px #fff,
    188px 999px #fff, 1280px 99px #fff, 2396px 1337px #fff, 758px 720px #fff,
    1320px 1339px #fff, 1182px 1730px #fff, 161px 1260px #fff,
    1428px 1493px #fff, 1390px 804px #fff, 736px 1230px #fff, 1302px 400px #fff,
    1033px 2445px #fff, 409px 1067px #fff, 2485px 2188px #fff,
    2291px 2488px #fff, 2445px 1073px #fff, 1631px 617px #fff,
    2544px 1766px #fff, 859px 1001px #fff, 1620px 1076px #fff, 1999px 619px #fff,
    1661px 291px #fff, 803px 89px #fff, 159px 2198px #fff, 2008px 742px #fff,
    284px 1000px #fff, 1091px 1385px #fff, 1781px 2237px #fff, 2172px 579px #fff,
    1784px 625px #fff, 1669px 1321px #fff, 60px 1152px #fff, 751px 1665px #fff,
    818px 1862px #fff, 330px 465px #fff, 2380px 2225px #fff, 2078px 457px #fff,
    999px 1257px #fff, 1356px 574px #fff, 1401px 2554px #fff, 2019px 2180px #fff,
    206px 2520px #fff, 431px 1913px #fff, 1216px 1008px #fff, 2204px 1056px #fff,
    1108px 266px #fff, 1558px 1523px #fff, 1185px 1490px #fff, 932px 1047px #fff,
    682px 1491px #fff, 2322px 1428px #fff, 1237px 1658px #fff,
    1415px 1620px #fff, 705px 236px #fff, 199px 2353px #fff, 1971px 1464px #fff,
    2044px 1731px #fff, 213px 1971px #fff, 2017px 241px #fff, 1811px 383px #fff,
    565px 341px #fff, 1560px 868px #fff, 1501px 229px #fff, 364px 176px #fff,
    1538px 326px #fff, 1209px 1656px #fff, 1302px 1568px #fff,
    1085px 1163px #fff, 357px 1631px #fff, 489px 2327px #fff, 164px 952px #fff,
    895px 2362px #fff, 1488px 1735px #fff, 1430px 1354px #fff, 2115px 316px #fff,
    2389px 2488px #fff, 3px 1945px #fff, 1703px 2309px #fff, 1276px 2113px #fff,
    950px 1432px #fff, 222px 1609px #fff, 1447px 203px #fff, 273px 1971px #fff,
    957px 1684px #fff, 1425px 517px #fff, 1430px 521px #fff, 1191px 1577px #fff,
    706px 2145px #fff, 1136px 1870px #fff, 891px 692px #fff, 2063px 317px #fff,
    1934px 231px #fff, 1px 681px #fff, 389px 2040px #fff, 2076px 925px #fff,
    1364px 2129px #fff, 24px 132px #fff, 260px 1368px #fff, 928px 1794px #fff,
    457px 596px #fff, 1454px 157px #fff, 320px 2238px #fff, 702px 1330px #fff,
    82px 1221px #fff, 1795px 2211px #fff, 2390px 76px #fff, 2265px 499px #fff,
    42px 620px #fff, 1992px 1549px #fff, 2272px 1646px #fff, 381px 2124px #fff,
    372px 2092px #fff, 647px 1507px #fff, 1235px 43px #fff, 907px 1712px #fff,
    104px 2270px #fff, 1289px 2396px #fff, 362px 1737px #fff, 2281px 2499px #fff,
    295px 2332px #fff, 2272px 350px #fff, 2189px 2394px #fff, 646px 1056px #fff,
    723px 1732px #fff, 469px 686px #fff, 652px 2208px #fff, 223px 2155px #fff,
    1079px 2133px #fff, 1139px 138px #fff, 758px 2429px #fff, 248px 408px #fff,
    1362px 2113px #fff, 108px 948px #fff, 1109px 1718px #fff, 169px 1065px #fff,
    588px 2112px #fff, 1172px 939px #fff, 1948px 329px #fff, 443px 1201px #fff,
    1848px 1786px #fff, 1878px 17px #fff, 2254px 659px #fff, 2489px 1461px #fff,
    1341px 2196px #fff, 1155px 904px #fff, 334px 1258px #fff, 796px 1077px #fff,
    1509px 367px #fff, 197px 1789px #fff, 329px 856px #fff, 1886px 2426px #fff,
    2460px 2233px #fff, 2541px 362px #fff, 1933px 1614px #fff, 723px 1271px #fff,
    2052px 994px #fff, 1853px 1492px #fff, 485px 1995px #fff, 488px 565px #fff,
    1868px 1602px #fff, 265px 1679px #fff, 1688px 30px #fff, 2526px 2487px #fff,
    1326px 870px #fff, 1657px 1162px #fff, 1543px 655px #fff, 2248px 238px #fff,
    844px 1489px #fff, 1018px 281px #fff, 413px 867px #fff, 897px 386px #fff,
    1725px 1281px #fff, 1472px 1427px #fff, 1842px 491px #fff,
    1371px 2552px #fff, 1267px 2187px #fff, 1100px 1360px #fff,
    1134px 2139px #fff;
  position: fixed;
  display: block;
  width: 1px;
  top: -100px;
  left: -10px;
  height: 1px;
  background-color: transparent;
  z-index: 100;
  border-radius: 50%;
  animation: animParticle 30s linear infinite;
}

@keyframes animParticle {
	from { transform: translateY(900px); }
	to   { transform: translateY(-3000px); }
}

